body {
    background: url("http://images2.alphacoders.com/104/104520.jpg") no-repeat center center fixed;
    background-size: cover; 
    text-align: center;
}
h1 {
    text-shadow: 4px 4px 4px black;
    color: #FF0066; 
    font-size: 410%;
}

#navlist {
    position: relative;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#navlist li, #navlist a {
    height: 400px;
    display: block;
}

#Play{
    left: 400px;
    width: 189px;
    background: url("play-button.png") 0 0;
    background-repeat: no-repeat
}